<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group groupName="layoutService">
        <pipelines>
          <getLayoutServiceContext>
            <processor type="GWLG.Foundation.SitecoreExtensions.PipelineProcessors.SiteConfiguration, GWLG.Foundation.SitecoreExtensions" />
          </getLayoutServiceContext>
        </pipelines>
      </group>
      <mvc.requestBegin patch:source="Sitecore.Mvc.config">
        <processor type="GWLG.Foundation.SitecoreExtensions.PipelineProcessors.CustomItemResolver.PeopleBucketItemResolver, GWLG.Foundation.SitecoreExtensions" resolve="true"
                      patch:after="processor[@type='Sitecore.LayoutService.Mvc.Pipelines.RequestBegin.ContextItemResolver, Sitecore.LayoutService.Mvc']"  />
      </mvc.requestBegin>

    </pipelines>
  </sitecore>


</configuration>
