<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>
		<!--Enabling PowerShell Elevation Patch Start-->
		<powershell>
			<userAccountControl>
				<tokens>
					<token name="Default"  elevationAction="Block"/>
					<token name="Console" expiration="00:05:00" elevationAction="Allow" patch:instead="*[@name='Console']"/>
					<token name="ISE" expiration="00:05:00" elevationAction="Allow" patch:instead="*[@name='ISE']"/>
					<token name="ItemSave" expiration="00:05:00" elevationAction="Allow" patch:instead="*[@name='ItemSave']"/>
				</tokens>
			</userAccountControl>
		</powershell>
		<!--Enabling PowerShell Elevation Patch End-->
	</sitecore>
</configuration>
