<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<databases>
			<database id="master">
				<cacheSizes>
					<standardValues>50MB</standardValues>
				</cacheSizes>
			</database>
		</databases>
		<settings>
			<setting name="Caching.IsFallbackValid.DefaultCacheSize">
				<patch:attribute name="value">200MB</patch:attribute>
			</setting>
			<setting name="Caching.LanguageFallbackFieldValues.DefaultCacheSize">
				<patch:attribute name="value">50MB</patch:attribute>
			</setting>
		</settings>
	</sitecore>
</configuration>